/* Global Styles */
html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.6;
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

:root {
    --primary-color: #3498db;
    --secondary-color: #2980b9;
    --dark-color: #333;
    --light-color: #f4f4f4;
}

/* Header */
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    background-color: #333;
    color: white;
    text-align: center;
}

.profile-pic {
    width: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
}

h1 {
    margin-top: 20px;
}

/* Section */
section {
    padding: 2rem;
    margin: 2rem 0;
}

h2 {
    margin-bottom: 1.5rem;
    color: var(--dark-color);
}

p, li {
    font-size: 1.125rem;
    margin-bottom: 1rem;
}

ul {
    list-style: disc;
    margin-left: 20px;
}

/* Navbar */
.navbar {
    background-color: #000;
    color: white;
    padding: 15px 0;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links, .social-links {
    display: flex;
    justify-content: center;
}

.nav-links li, .social-links li {
    margin: 0 1rem;
}

.nav-links a, .social-links a {
    color: white;
    text-decoration: none;
}

.nav-links a:hover {
    text-decoration: underline;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex: 1;
}

/* Footer */
footer {
    text-align: center;
    background-color: #000;
    color: white;
    padding: 20px 0;
    border-top: 5px solid var(--primary-color);
    box-shadow: 0px -3px 10px rgba(0, 0, 0, 0.1);
    position: relative; /* Normal flow of the document */
    width: 100%;
}

#contact {
    padding-bottom: 50px; /* Enough padding to avoid overlap */
}


/* Links */
a {
    color: var(--primary-color);
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    text-decoration: underline;
    color: var(--secondary-color);
}

/* Buttons */
button {
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: var(--secondary-color);
}

/* Responsive Design */
@media (max-width: 768px) {
    .intro-header h1 {
        font-size: 36px;
    }

    .intro-header p {
        font-size: 18px;
    }

    .container {
        padding: 20px;
    }

    .nav-links {
        flex-direction: column;
        align-items: center;
    }

    .nav-links li {
        margin: 10px 0;
    }

    .social-links {
        flex-direction: column;
    }
}
